.mt {
    margin-top: 12px;
}

.table-wrap {
    overflow: auto;
    margin-top: 12px;
}

table {
    min-width: 1100px;
    width: 100%;
}

.lb-actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}