<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened>
        <mat-toolbar>Distributed Sim</mat-toolbar>

        <mat-nav-list>
            <a mat-list-item class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <span matListItemTitle>Dashboard</span>
            </a>

            <a mat-list-item class="nav-link" routerLink="/traffic" routerLinkActive="active">
                <mat-icon matListItemIcon>traffic</mat-icon>
                <span matListItemTitle>Traffic</span>
            </a>

            <a mat-list-item class="nav-link" routerLink="/workers" routerLinkActive="active">
                <mat-icon matListItemIcon>dns</mat-icon>
                <span matListItemTitle>Workers</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">Fault-tolerant Distributed System</mat-toolbar>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
